#body-container {
	margin-top: 20px;
	width: 350px;
}

#event-form {
	display: flex;
	flex-direction: column;
}

#event-form input, #delete-button {
	margin-bottom: 10px;
	padding: 5px;
	border: none;
	color: var(--main-color);
	background-color: var(--background-accent);
}

#delete-button {
	width: 100%;
}

#submit:active, #delete-button:active {
	background-color: var(--main-color);
	color: var(--background-color);
}

